Repository GetLuko/streamline: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, types, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: '*.{js,ts,jsx,tsx}'
      run: prettier --write
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files} --fix --quiet
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc --noEmit
    test:
      glob: '*.{js,ts, jsx, tsx}'
      run: jest --bail --findRelatedTests --passWithNoTests

chore(Pressable): replace react-native with react-native-ama for accessible Pressable (#151)
  package.json
  sandbox/package.json
  src/components/buttons/button-icon/button-icon.tsx
  src/components/list-items/list-item-value/list-item-value.tsx
  src/components/list-items/list-item/list-item.tsx
  yarn.lock
Due: format, lint

feat(InputOutline): export InputOutline and types (#150)
  sandbox/src/app/App.tsx
  sandbox/src/app/sandbox/Sandbox.tsx
  sandbox/src/app/sandbox/docs/icon.doc.tsx
  sandbox/src/app/sandbox/docs/text.doc.tsx
  src/components/button-bar/button-bar.tsx
  src/components/cards/card-highlight/card-highlight.tsx
  src/components/inputs/input-outline/input-outline.tsx
  src/components/inputs/input-outline/input-outline.types.ts
  src/components/inputs/input-text/components/input-text-primitive.tsx
  src/components/inputs/input-text/components/types.ts
  src/components/inputs/input-text/input-text.tsx
  src/index.ts
  src/types.ts
Due: format, lint, types, test

chore: release 0.2.0
  package.json
Due: none

chore(Release): follow Angular commit convention
  package.json
Due: none

update publish workflow
  .github/workflows/publish.yml
Due: none

Update package.json
  package.json
Due: none

Update package.json (#153)
  package.json
Due: none

chore(Release): version 0.2.1
  package.json
Due: none

feat(ListItem): Tag available as right option
  sandbox/src/app/sandbox/docs/list-item.doc.tsx
  src/components/list-items/list-item/components/right-content.tsx
  src/components/list-items/list-item/list-item.types.ts
  src/components/tag/tag.tsx
  src/components/tag/tag.types.ts
Due: format, lint, types, test

feat(ListItemSelectable): Tag available as right option
  src/components/list-items/list-item-selectable/components/right-content.tsx
Due: format, lint

add postinstall script: lefthook install
  .husky/_/commit-msg
  package.json
Due: none

Fix right icon onPress
  src/components/list-items/list-item/components/right-content.tsx
Due: format, lint

Fix right icon onPress
  src/components/list-items/list-item-selectable/components/right-content.tsx
Due: format, lint

feat(Navigation): new NavigationBarSearch component
  README.md
  sandbox/e2e/android/screenshots/InputSearch.png
  sandbox/e2e/android/screenshots/NavigationBarSearch.png
  sandbox/e2e/ios/screenshots/InputSearch.png
  sandbox/e2e/ios/screenshots/NavigationBarSearch.png
  sandbox/e2e/visual_regressions_flow.yml
  sandbox/src/app/sandbox/docs/navigation-bar-search.doc.tsx
  sandbox/src/app/sandbox/index.ts
  src/components/inputs/input-text/components/input-text-primitive.tsx
  src/components/navigation/navigation-bar-search/__test__/navigation-bar-search.spec.tsx
  src/components/navigation/navigation-bar-search/navigation-bar-search.tsx
  src/components/navigation/navigation-bar-search/navigation-bar-search.types.ts
  src/components/navigation/navigation-title/__test__/navigation-title.spec.tsx
  src/components/navigation/navigation-title/__test__/navigation-title.utils.spec.ts
  src/index.ts
  src/types.ts
Due: format, lint, types, test

test
  .watchmanconfig
  .yarnrc.yml
  lefthook.yml
  sandbox/app.json
  src/components/button-bar/button-bar.spec.tsx
Due: format, lint

fix lefthook
  lefthook.yml
  src/components/button-bar/button-bar.spec.tsx
Due: format, lint

remove watchman config
  .watchmanconfig
Due: none

fix watchman config
  .watchmanconfig
Due: none

feat(ListItem): Tag available as right option (#154)
  sandbox/src/app/sandbox/docs/list-item.doc.tsx
  src/components/list-items/list-item-selectable/components/right-content.tsx
  src/components/list-items/list-item/components/right-content.tsx
  src/components/list-items/list-item/list-item.types.ts
  src/components/tag/tag.tsx
  src/components/tag/tag.types.ts
Due: format, lint, types, test

feat(Navigation): new NavigationBarSearch component (#155)
  README.md
  sandbox/e2e/android/screenshots/InputSearch.png
  sandbox/e2e/android/screenshots/NavigationBarSearch.png
  sandbox/e2e/ios/screenshots/InputSearch.png
  sandbox/e2e/ios/screenshots/NavigationBarSearch.png
  sandbox/e2e/visual_regressions_flow.yml
  sandbox/src/app/sandbox/docs/navigation-bar-search.doc.tsx
  sandbox/src/app/sandbox/index.ts
  src/components/inputs/input-text/components/input-text-primitive.tsx
  src/components/navigation/navigation-bar-search/__test__/navigation-bar-search.spec.tsx
  src/components/navigation/navigation-bar-search/navigation-bar-search.tsx
  src/components/navigation/navigation-bar-search/navigation-bar-search.types.ts
  src/components/navigation/navigation-title/__test__/navigation-title.spec.tsx
  src/components/navigation/navigation-title/__test__/navigation-title.utils.spec.ts
  src/index.ts
  src/types.ts
Due: format, lint, types, test

fix weird bug on android
  src/components/inputs/input-code/components/cell.tsx
  src/components/inputs/input-code/input-code.utils.ts
Due: format, lint, types, test

fix(InputCode): shadow borderRadius not being applied on my Android (#157)
  src/components/inputs/input-code/components/cell.tsx
  src/components/inputs/input-code/input-code.utils.ts
Due: format, lint, types, test

chore(Release): version 0.3.0
  package.json
Due: none

chore(Dependencies): fix some versions
  package.json
  yarn.lock
Due: none

chore(Scripts): lefthook install moved to prepare script
  package.json
Due: none

chore(Release): version 0.3.1
  package.json
Due: none

fix: unset core.hooksPath
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  package.json
Due: none

fix(InputSearch): search text padding for some Samsung devices
  src/components/inputs/input-text/components/input-text-primitive.tsx
Due: format, lint

fix(InputSearch): search text padding for some Samsung devices (#158)
  src/components/inputs/input-text/components/input-text-primitive.tsx
Due: format, lint

fix(InputCode): use inner state to avoid desync state
  sandbox/src/app/sandbox/docs/input-code.doc.tsx
  src/components/inputs/input-code/input-code.hook.ts
  src/components/inputs/input-code/input-code.spec.tsx
  src/components/inputs/input-code/input-code.tsx
  src/components/inputs/input-code/input-code.types.ts
Due: format, lint, types, test

fix(InputCode): use inner state to avoid desync state (#159)
  sandbox/src/app/sandbox/docs/input-code.doc.tsx
  src/components/inputs/input-code/input-code.hook.ts
  src/components/inputs/input-code/input-code.spec.tsx
  src/components/inputs/input-code/input-code.tsx
  src/components/inputs/input-code/input-code.types.ts
Due: format, lint, types, test

chore(Release): version 0.3.2
  package.json
Due: none

feat(ListItemCountry): create component & update ListItemGroup
  sandbox/src/app/sandbox/docs/list-item-country.doc.tsx
  sandbox/src/app/sandbox/index.ts
  src/components/inputs/input-phone/components/country-picker.tsx
  src/components/list-items/list-item-country/list-item-country.tsx
  src/components/list-items/list-item-country/list-item-country.types.ts
  src/components/list-items/list-item-group/components/item.tsx
  src/components/list-items/list-item-group/list-item-group.types.ts
  src/components/list-items/list-item-group/list-item-group.utils.ts
  src/index.ts
  src/types.ts
  src/utils/country.spec.ts
  src/utils/country.ts
Due: format, lint, types, test

feat(ListItemCountry): add visual_regression flow + screenshots
  sandbox/e2e/android/screenshots/ListItemCountry.png
  sandbox/e2e/ios/screenshots/ListItemCountry.png
  sandbox/e2e/visual_regressions_flow.yml
  src/components/list-items/list-item-country/list-item-country.tsx
Due: format, lint

fix(ListItemCountry): android flag emoji size
  sandbox/e2e/android/screenshots/ListItemCountry.png
  src/components/list-items/list-item-country/list-item-country.tsx
Due: format, lint

feat(ListItemCountry): add chevronLeft icon + remove spinner
  src/components/list-items/list-item-country/list-item-country.tsx
Due: format, lint

update(ListItemCountry): sandbox doc + screenshots
  sandbox/e2e/android/screenshots/ListItemCountry.png
  sandbox/e2e/ios/screenshots/ListItemCountry.png
  sandbox/src/app/sandbox/docs/list-item-country.doc.tsx
Due: format, lint

chore(Release): version 0.4.0
  package.json
Due: none

feat(InputPhone): add onValidChande props
  sandbox/src/app/sandbox/docs/input-phone.doc.tsx
  src/components/inputs/input-phone/input-phone.spec.tsx
  src/components/inputs/input-phone/input-phone.tsx
  src/components/inputs/input-phone/input-phone.types.ts
  src/types.ts
Due: format, lint, types, test

update(InputPhone): screenshots
  sandbox/e2e/android/screenshots/InputPhone.png
  sandbox/e2e/ios/screenshots/InputPhone.png
Due: none
